# App
APP_NAME=mass-api
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL="https://${APP_NAME}.docker"

ADMIN_INITIAL_PASSWORD=nHfKx5d4KHcg4tb7KqQtXhVc_PLS_CHANGE

# Database
DB_CONNECTION=mysql
DB_HOST=laravel-db
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=PASSWORD_PLS_CHANGE

# External tests
SKIP_EXTERNAL_TESTS=false

# Docker containers
UID=1000
TZ=Europe/Amsterdam

# Transmission openvpn config
OPENVPN_PROVIDER=
OPENVPN_USER=
OPENVPN_PASSWORD=

# Media folders
DOWNLOADS_FOLDER=~/downloads
TVSERIES_FOLDER=~/tv
MOVIES_FOLDER=~/movies

# Plex setup
PLEX_CLAIM=

# Fix for Artisan Tinker permission issue
XDG_CONFIG_HOME=/tmp

# Enable manual config
MANUAL_CONFIG=false

# When MANUAL_CONFIG=true
SONARR_URL=http://sonarr:8989
SONARR_API_KEY=
SONARR_FOLDER=/tv
RADARR_URL=http://radarr:7878
RADARR_API_KEY=
RADARR_FOLDER=/movies
TRANSMISSION_URL=http://transmission:9091
JACKETT_URL=http://jackett:9117
JACKETT_API_KEY=
# end MANUAL_CONFIG=true