DB_CONNECTION=mysql
DB_HOST=laravel-db
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=fCZb8t6rpM52vKr6U2HxF5os

APP_NAME=mass-api
APP_HOST="${APP_NAME}.docker"
APP_URL="https://${APP_HOST}"

UID=1000
TZ=Europe/Amsterdam
